name: Build Docusaurus PR

on:
  pull_request:
jobs:
  docusaurus-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # v4
        with:
          fetch-depth: 0

      - uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          globs: |
            **/*.md
            **/*.mdx

      - uses: actions/setup-node@v5
        with:
          node-version: 22.x

      - run: yarn set version berry
      - run: yarn install --immutable
      - run: yarn run build
